<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <title></title>
        <style>
            fieldset { width : 400px; background-color: aliceblue; text-align: center;
                display: flex; flex-direction: column; justify-content: center; align-items: center;}
        </style>
        <script>
              
            function fileUpload(){
                var formData = new FormData();
                const file = document.getElementById('dynamic_file');
                formData.append('id', $('#id').val() ); // 이름이 파일보다 먼저 받아야
                formData.append('dynamic_userfile', file.files[0]);

                // 각각 append 하거나 new FormData(form);

                axios({
                    method : 'POST',
                    url : "/dynamicFile",
                    data : formData,
                    headers : {
                        'Content-Type' : 'multipart/form-data',
                    },
                }).then(( a )=>{ 
                    console.log( 'a : ', a ); 
                    return a.data.path; }) // return 잊지말기 !!!!
                .then(( b )=>{

                    console.log( 'b : ', b );
                     // $('img').attr('src','/uploads/'+response.data.filename);
                    //src 속성의 변경

                    document.querySelector('img').src= b;
                    //src 속성 없어도 추가됨
                });      
            } 
        </script>
    </head>
    <body> 
        <fieldset>
            <legend>Dynamic File Upload</legend>
            <div>아이디 : <input type="text" name="id" id="id"></div>

            <input type="file" name="dynamic_userfile" id="dynamic_file" /><br />
            <button type="button" onclick="fileUpload();">Upload</button><br>
            <!-- <img src="/static/white_heart.png" width="300">         -->
            <img width="300">
        </fieldset>
            
               
    </body>
</html>