<html>
    <head>
        <meta charset="utf-8">
        <script>
                                 
        </script>
    </head>
    <body>
        
        <img src="/uploads/<%=data2.filename%>">

    </body>
</html>