<html>
    <head>
        <meta charset="utf-8">
        <title></title>

        <script>
           
        </script>

    </head>
    <body>
        <form action="/form" method="get" id="form01">
            
            <div>ID : <input type="text" name="id" required></div>
            <div>PW : <input type="password" name="pw" required></div>


            <fieldset>
                <legend>Drinks</legend>
                <input type="radio" name="drink" value="Ice Americano" id="ia">
                    <label for="ia">Ice Americano</label>
                <input type="radio" name="drink" value="Ice Latte" id="il">
                    <label for="ia">Ice Latte</label>
                <input type="radio" name="drink" value="Hot Chocolate" id="hc">
                    <label for="ia">Hot Chocolate</label>
                <input type="radio" name="drink" value="Hot Milktea" id="hm">
                    <label for="ia">Hot Milktea</label>
            </fieldset>

            <div>Height : <input type="range" max="200" name="height"></div>

        </form>

        <button type="submit">SUBMIT</button>


    </body>
</html>
