<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Final Exam Grades</title>
    <style>
        .d_none { display : none; }
        table, th, td { border: 1px solid black; }
        fieldset {display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 20px;}
    </style>
    <script>
        function enterInfo(){
            var form = document.getElementById('student_info');
            let data = {
                id : form.id.value,
                name : form.name.value,
                grade : form.grade.value,
                major : form.major.value,
                birth : form.birth.value
            };
            axios({
                method : 'post',
                url : '/test/',
                data : data
            }).then((response)=>{})
        }
    </script>
</head>
<body>
    <form id="student_info">
        <fieldset>
            <div>
                ID : <input type="text" name="id">
            </div>
            <div>
                NAME : <input type="text" name="name">
            </div>
            <div>
                GRADE : 
                <select name="grade">
                    <%for (i=1; i<=4; i++){%>
                    GRADE : <option value="<%=i%>"><%=i%></option>
                    <%}%>
                </select>
            </div>
            <div>
                MAJOR : 
                <select name="major">
                    <option value="Engineering">Engineering</option>
                    <option value="NaturalScience">NaturalScience</option>
                    <option value="Business">Business</option>
                    <option value="Economics">Economics</option>
                </select>
            </div>
            <div>
                BIRTH : <input type="date" name="birth" min="1980-01-01">
            </div>
        </fieldset>
    </form>
    <div class="enterInfo_btn">        
        <button type="button" onclick="enterInfo();">ENTER</button>
    </div>

    <table cellpadding="10" cellspacing="1" style="margin-top: 20px;">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>GRADE</th>
            <th>MAJOR</th>
            <th>BIRTH</th>
            <th>UPDATE/DELETE</th>
        </tr>

        <%for(let i=0; i<1; i++){%>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" onclick="">UPDATE</button>
                    <button type="button" onclick="">DELETE</button>

                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>