#chatBG {
  width: 600px;
  height: 900px;
  background-color: lightsteelblue;
  position: relative;
  text-align: center;
}
.chatIntro {
  height: 50px;
  text-align: center;
  font-style: italic;
}
#chatBox {
  /* height: 900px; */
  overflow-y: auto;
}

/* My Chat */
.MyChatBox {
  text-align: right;
}
.MyChatBox > .MyChat {
  display: inline-block;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  background-color: palegoldenrod;
}
.MyChatBox > .MyDM {
  display: inline-block;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  background-color: lightpink;
}

/* Server Chat */
.ServerChat {
  text-align: start;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  background-color: ghostwhite;
  width: fit-content;
}
/* Direct Chat */
.DirectChat {
  text-align: start;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  background-color: lightpink;
  width: fit-content;
}

/* Chat Box 동일 항목 */
#inputBox,
#DMinputBox {
  width: 600px;
  margin: 0 !important;
  position: absolute;
  bottom: 0px;
}

#DMinputBox *,
#inputBox * {
  height: 60px;
}

.row > * {
  padding: 0 !important;
}

/* 일반 Chat Box */
/* #directBtn {
  width: 60px;
}
#chatInput {
  width: 480px;
}
#chatInputBtn {
  width: 60px;
} */

/* DM Chat Box */
/* #XdirectBtn {
  width: 60px;
}
#selectDM {
  width: 90px;
}
#DMchatInput {
  width: 390px;
}
#DMchatInputBtn {
  width: 60px;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
