#chatBG {
  width: 600px;
  height: 1000px;
  background-color: lightsteelblue;
  position: relative;
}
#chatIntro {
  height: 50px;
  text-align: center;
  font-style: italic;
}
#chatBox {
  height: 900px;
  overflow-y: auto;
}

/* My Chat */
.MyChatBox {
  text-align: right;
}
.MyChatBox > .MyChat {
  display: inline-block;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  background-color: palegoldenrod;
}
.MyChatBox > .MyDM {
  display: inline-block;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  background-color: lightpink;
}

/* Server Chat */
.ServerChat {
  text-align: start;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  background-color: ghostwhite;
  width: fit-content;
}
/* Direct Chat */
.DirectChat {
  text-align: start;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  background-color: lightpink;
  width: fit-content;
}

/* 일반 Chat Box */
#inputBox {
  position: absolute;
  bottom: 10px;
  padding: 0 10px 0 10px;
}
#directBtn {
  width: 50px;
  height: 50px;
}
#chatInput {
  width: 450px;
  height: 50px;
  margin: 0 10px 0 10px;
}
#chatInputBtn {
  width: 50px;
  height: 50px;
}

/* DM Chat Box */
#DMinputBox {
  position: absolute;
  bottom: 10px;
  padding: 0 10px 0 10px;
}
#XdirectBtn {
  width: 40px;
  height: 50px;
  margin-right: 5px;
}
#selectDM {
  width: 75px;
  height: 50px;
}
#DMchatInput {
  width: 390px;
  height: 50px;
  margin: 0 5px 0 5px;
}
#DMchatInputBtn {
  width: 50px;
  height: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
