.App {
  text-align: center;
  /* display: flex; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .test {
  text-align: center;
  font-size: 60px;
  margin: 0 200px 0 200px;
  background-color: oldlace;
  color: chocolate;
}

.input {
  margin-top: 30px;
  width: 200px;
}

.App span {
  display: inline-block;
  width: 100px;
}
.red {
  background-color: red;
  height: 100px;
}
.orange {
  background-color: orange;
  height: 150px;
}
.yellow {
  background-color: yellow;
  height: 200px;
}
.green {
  background-color: green;
  height: 250px;
}
.blue {
  background-color: blue;
  height: 300px;
}
.navy {
  background-color: navy;
  height: 350px;
}
.purple {
  background-color: purple;
  height: 400px;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
