<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Info</title>
    <script>
        function updateUser(){

        }

    </script>
</head>
<body>
<h3>My Info</h3>
<form action="/MyInfo" id="myinfo1">
  이름 : <input type="text" name="name" value=""><br>
  ID : <input type="text" name="id" value=""><br>
  PW : <input type="text" name="pw" value=""><br>
    <button type="button" onclick="updateUser()">수정</button>
    <button type="button" onclick="deleteUser()">회원탈퇴</button>
</form>
<hr>
<h3>Withdrawal</h3>
</body>
</html>